@model IEnumerable<DataLayer.Models.Footer>

@{
    ViewBag.Title = "لیست تصویر فوتر ";
}

<p>
    @Html.ActionLink("افزودن", "Create")
</p>
<table class="table" style=" border: solid; border-color: cadetblue">
    <tr>
        <th colspan="3" style="text-align:center;background-color:lightcoral"> لطفا برای این بخش تعداد تصاویر شما<span style="text-decoration: underline;"> کمتر یا بیشتر از یک عدد </span>  نباشد    </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(z => z.ImageName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="~/Images/@item.ImageName" class="thumbnail" style="max-width: 100px;max-height:100PX" />
            </td>

            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |

                @Html.ActionLink("حذف", "Delete", new { id = item.Id })
            </td>
        </tr>

    }
</table>